<app-login-nav></app-login-nav>
<div class="tabs-content">
  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">schedule</mat-icon>
        Horario
      </ng-template>

      <app-horarios></app-horarios>
    </mat-tab>

    <mat-tab >
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">class</mat-icon>
        Calificaciones
      </ng-template>
      <app-calificaciones></app-calificaciones>
    </mat-tab>

    <mat-tab >
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">event</mat-icon>
        Asistencia
      </ng-template>
      <app-asistencia></app-asistencia>
    </mat-tab>
  </mat-tab-group>

</div>
