<app-navbar></app-navbar>
<div class="login-from-content">
  <section class="login-elements-content">
    <i class="fa-solid fa-wave-square"></i>
    <h1 class="login-title">Ingresar al sistema</h1>

    <form [formGroup]="usuarioLogin" (ngSubmit)="login()" class="login-form">
      <mat-form-field>
        <input matInput placeholder="Usuario" formControlName="Nombre">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Contraseña" formControlName="Contrasena">
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Iniciar sesión</button>

      <a routerLink="/home">Recordar contraseña</a>

      <div *ngIf="showInvalidCredentialsAlert" class="alert alert-danger" role="alert">
        Credenciales inválidas. Por favor, inténtalo nuevamente.
      </div>
    </form>
  </section>
</div>


