<div class="news-cards">
<!--  card 1 -->
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Noticias</mat-card-title>
      <mat-card-subtitle>Matriculas</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://images.pexels.com/photos/4144145/pexels-photo-4144145.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <br>
      <p>
        ¡Inicia tu camino hacia el éxito! La Universidad XYZ te invita a matricularte en nuestros programas académicos de alta calidad. Descubre una educación de vanguardia, profesores destacados y un campus vibrante. ¡Inscríbete ahora y prepárate para un futuro brillante!
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button><i class="fa-solid fa-heart"></i></button>
      <button mat-button><i class="fa-solid fa-share-nodes"></i></button>
    </mat-card-actions>
  </mat-card>

<!--  card 2 -->
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Noticias</mat-card-title>
      <mat-card-subtitle>Matriculas</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://images.pexels.com/photos/4144293/pexels-photo-4144293.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <br>
      <p>
        Únete a una comunidad de excelencia académica. En la Universidad XYZ, ofrecemos una educación de clase mundial con enfoque en la innovación y la excelencia. Nuestros programas de estudio te brindarán las herramientas necesarias para destacarte en el mercado laboral. ¡No esperes más, asegura tu lugar matriculándote ahora!
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button><i class="fa-solid fa-heart"></i></button>
      <button mat-button><i class="fa-solid fa-share-nodes"></i></button>
    </mat-card-actions>
  </mat-card>
</div>

