
.home-content {
  color: #161616;
  display: flex;
  flex-direction: column;
  padding-top: 5%;
  gap: 10px;

  align-items: center;
  align-content: center;
  background-color: #ebebeb;

/*  imagen */



}
.news-content{
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.home-main-title{
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  line-height: 1.5;
}
.search-element-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;

  width: 20rem;
}
.fa-solid{
  font-size: 24px ;
}

